@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.input-style {
  @apply border border-white/40 bg-black/30 text-white 
         placeholder-neutral-500 px-3 py-3 rounded-md
         focus:outline-none focus:border-white w-full;
}
